.font-1-g {
  font: 600 2rem/1.5 "Poppins", sans-serif;
}

.font-1-gm {
  font: 600 1.5rem/1.5 "Poppins", sans-serif;
}

.font-1-m {
  font: 600 1.5rem/1.5 "Poppins", sans-serif;
}

.font-2-n {
  font: 400 1.3rem/1.5 "Roboto", sans-serif;
}

.font-2-g {
  font: 600 1.3rem/1.5 "Roboto", sans-serif;
}

@media (max-width: 700px) {
  .font-1-g,
  .font-1-gm {
    font-size: 1.2rem;
    letter-spacing: 2px;
  }
}
