body {
  padding-bottom: 120px;
}

.header {
  position: relative;
  text-align: center;
}

.header img {
  width: 100%;
  height: auto;
}

.menu {
  position: absolute;
  top: 40px;
  left: 0;
  right: 50px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.header-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  gap: 50px;
}

.header-center h1 {
  padding-bottom: 50px;
}

.header-center a {
  padding: 15px 15px;
  border-radius: 5px;
  background: var(--cor-p1);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.menu li {
  display: inline-block;
  padding-left: 100px;
}

.menu a:after {
  content: "";
  display: block;
  height: 4px;
  width: 0px;
  background: var(--cor-p1);
  margin-top: 4px;
  transition: 0.3s;
}

.menu a:hover:after {
  width: 100%;
}

.subtitulo {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 90px;
}

.subtitulo h1 {
  margin-bottom: -50px;
}

.ocasal h2 {
  text-align: center;
}

.ocasal p {
  padding-left: 20px;
  margin-top: 60px;
  padding-bottom: 120px;
}

.ocasal-img {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.programacao-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cor-p1);
  text-align: center;
  border-radius: 10px;

  box-shadow: inset 0 40px #fff;
}

.tempo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.tempo p {
  background-color: #b6e3b2;
  padding: 20px 40px;
  border-radius: 10px;
}
.tempo p span {
  display: block;
}

.programacao {
  padding-top: 60px;
  padding-bottom: 90px;
  margin: 0;
}

.programacao h2 {
  padding-left: 0px;
  margin-bottom: 30px;
}

.programacao p {
  text-align: left;
}

.programacao-lista {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 10px;
  gap: 15px;
  align-items: center;
}

.programacao-lista img {
  width: 60px;
  height: 60px;
  margin: 0;
}

.programacao-lista span {
  display: block;
  text-align: left;
}

@media (max-width: 700px) {
  .menu a:after {
    background: var(--cor-w);
    height: 2px;
  }

  .header-center {
    top: 40%;
  }
  .menu li {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
  }
  .menu {
    background-color: var(--cor-p1);
    position: relative;
    top: 0px;
    left: 0;
    right: 0px;
    text-align: justify;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 500px) {
  .header-center {
    top: 33%;
  }
}
