.header-bg {
  position: relative;
  text-align: center;
}

.header-bg img {
  width: 100%;
  height: auto;
}

.menu {
  position: absolute;
  top: 40px;
  left: 0;
  right: 50px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.header-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  text-align: center;
  gap: 50px;
}

.header-center h1 {
  padding-bottom: 50px;
}

.header-center a {
  padding: 15px 15px;
  border-radius: 10px;
  background: var(--cor-p1);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.header-center a:hover {
  background: var(--cor-p11);
  transition: 600ms;
  font-size: 1.2rem;
}

.menu li {
  display: inline-block;
}

.menu a:after {
  content: "";
  display: block;
  height: 4px;
  width: 0px;
  background: var(--cor-p1);
  margin-top: 4px;
  transition: 0.3s;
}

.menu a:hover:after {
  width: 100%;
}

.subtitulo {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 90px;
}

.subtitulo h1 {
  margin-bottom: -50px;
}

.ocasal h2 {
  text-align: center;
}

.ocasal p {
  padding-left: 20px;
  margin-top: 60px;
  padding-bottom: 120px;
}

.ocasal-img {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.programacao-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cor-p1);
  text-align: center;
  border-radius: 10px;

  box-shadow: inset 0 40px #fff;
}

.tempo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.tempo div {
  background-color: #b6e3b2;
  padding: 20px 40px;
  border-radius: 10px;
}

.tempo p span {
  display: block;
}

.programacao {
  padding-top: 60px;
  padding-bottom: 90px;
  margin: 0;
}

.programacao h2 {
  padding-left: 0px;
  margin-bottom: 30px;
}

.programacao p {
  text-align: left;
}

.programacao-lista {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.programacao-lista .programacao-lista-mapa:hover {
  background-color: var(--cor-p11);
  transition: 1000ms;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.programacao-lista img {
  width: 60px;
  height: 60px;
  margin: 0;
}

.programacao-lista span {
  display: block;
  text-align: left;
}

.lista-presente {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-bottom: 90px;
}

.lista-presente h1 {
  margin-bottom: 60px;
}

.lista-presente a:last-child {
  margin-top: 60px;
}

.lista-presente p:first-of-type::after {
  transform: translate(-50%, -50%);
  width: 250px;
  height: 45px;
  top: -27px;
  left: 50%;
  content: "";
  display: block;
  width: auto;
  height: 25px;
  background: var(--cor-p2-2);
  z-index: -1;
  position: relative;
}

.lista-presente .botao {
  background: linear-gradient(var(--cor-p2), var(--cor-p2-2));
}

.lista-presente .botao:hover {
  transition: 600ms;
  font-size: 1.4rem;
  margin-bottom: -6px;
}

.footer-bg {
  margin-top: 60px;
  background: #4e7949;
}

.footer {
  padding: 30px 30px;
  display: grid;
  grid-template-columns: auto 1fr 1fr;
}

.footer img {
  height: 60px;
  padding-right: 150px;
}

.footer h3 {
  margin-bottom: 15px;
}

.contato {
  padding-right: 30px;
}

.contato p {
  padding-bottom: 5px;
  padding-left: 15px;
}

.informacoes {
  display: flex;
  flex-direction: column;
}

.informacoes a {
  padding-bottom: 5px;
  padding-left: 15px;
}

.informacoes a:hover {
  transition: 600ms;
  font-size: 1.3rem;
  padding-bottom: 5px;
}

.direitos {
  margin-top: 30px;
  padding-bottom: 15px;
  margin-left: 30px;
}

@media (max-width: 800px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr;
  }

  .footer img {
    height: 60px;
    padding-right: 0px;
    justify-self: center;
    padding-bottom: 30px;
  }

  .footer h3 {
    margin-bottom: 30px;
  }

  .contato {
    padding-right: 0px;
  }

  .contato p {
    padding-bottom: 8px;
    padding-left: 0px;
  }

  .contato p:last-child {
    padding-bottom: 60px;
  }

  .informacoes {
    display: block;
  }

  .informacoes a {
    display: block;
  }

  .informacoes a {
    padding-bottom: 8px;
    padding-left: 0px;
  }

  .header-bg {
    position: absolute;
    display: flex;
    flex-direction: column; /* Muda para empilhamento em coluna */
    text-align: center; /* Centraliza o conteúdo quando em coluna */
    margin-top: 180px;
  }

  .subtitulo {
    position: relative;
    order: -1; /* Move a div .subtitulo para cima da imagem */
    margin-top: 20px; /* Adiciona um espaçamento entre a imagem e a .subtitulo */
  }

  .ocasal {
    margin-top: 450px;
  }

  .header-center h1 {
    display: none;
  }

  .tempo span {
    display: none;
  }

  .menu a:after {
    background: var(--cor-w);
    height: 2px;
  }

  .header-center {
    top: 40%;
  }
  .menu li {
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
  }
  .menu {
    background-color: var(--cor-p1);
    position: relative;
    top: 0px;
    left: 0;
    right: 0px;
    text-align: justify;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 500px) {
  .ocasal {
    padding-top: 50px;
    margin-top: 0px;
  }

  .elipse {
    display: none;
  }

  .ocasal-img {
    grid-template-columns: 1fr;
  }
  .menu li {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .subtitulo h1 {
    margin-bottom: -20px;
  }
  .ocasal {
    margin-top: 390px;
  }

  .header-center {
    top: 17%;
  }
}

@media (max-width: 441px) {
  .lista-presente p:first-of-type::after {
    height: 50px;
    top: -41px;
    left: 50%;
  }
}

@media (max-width: 384px) {
  .lista-presente h1 {
    margin-bottom: 90px;
  }

  .lista-presente p:last-child {
    margin-top: 90px;
  }
}
