.subtitulo {
  padding-bottom: 0px;
}

.subtitulo h1 {
  margin-bottom: -50px;
}

.lista {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 60px;
}

.lista-presente2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-bottom: 90px;
  margin-top: 60px;
}

.lista h2 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.lista-presente2 p {
  margin-top: 15px;
}

.menu-presentes {
  background-color: var(--cor-p1);
  position: relative;
  top: 0px;
  left: 0;
  right: 0px;
  text-align: justify;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 50px;
}

.menu-presentes {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}

.menu li {
  display: inline-block;
}

.menu-presentes a:after {
  content: "";
  display: block;
  height: 4px;
  width: 0px;
  background: var(--cor-w);
  margin-top: 4px;
  transition: 0.3s;
}
.menu-presentes a:hover:after {
  width: 100%;
}
.submenu {
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center; /* Centralize o texto horizontalmente */
  background-color: var(--cor-p1); /* Adicione o mesmo background dos links */
}

.submenu a {
  position: relative;
  display: inline-block; /* Para que os links ocupem apenas o espaço necessário */
  padding: 10px 60px;
  margin: 10px 150px; /* Adicione margem para espaçamento entre os links */
}

.submenu a .icon {
  width: 40px;
  height: 40px;
  fill: #fff;
  position: absolute; /* Posicione a imagem absolutamente em relação ao link */
  left: 10px; /* Ajuste a posição horizontal da imagem conforme necessário */
  top: 50%; /* Centralize verticalmente a imagem */
  transform: translateY(-50%); /* Centralize verticalmente a imagem */
}
.submenu-content {
  background-color: var(--cor-w);
  padding: 10px;
  text-align: center;
  display: none;
}

.submenu-content.show {
  display: block;
}
@media (max-width: 800px) {
  .lista-presente2 {
    margin-top: 500px;
  }

  .submenu a {
    margin: 10px 100px; /* Adicione margem para espaçamento entre os links */
  }
}

@media (max-width: 450px) {
  .submenu a {
    margin: 10px 70px; /* Adicione margem para espaçamento entre os links */
  }
}
